body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border: 1px solid rgb(95, 95, 95);
  padding: 10px;
  margin-bottom: 5px;
}

textarea:hover{
  border: 2px solid rgb(95, 95, 95);
  font-weight: bold;
  font-size: 125%;
  transition: all 0.3s ease-in-out;
}

textarea:active{
  border: 2px solid rgb(95, 95, 95);
}

.jumbotron {
  text-align: center;
  background-color: #06aed5;
  color: white;
  border-radius: 0;
  border-bottom: 10px solid yellow;
}

.userInput {
  white-space: pre-wrap;
  color: #000000;
}

.time-block {
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  background-color: #06aed5;
  color: white;
  margin-right: 3px;
  text-align: center;
  margin-bottom: 5px;
  border: 1px solid yellow;
  height: auto;
  align-items: center;
  display: flex;
}

.past {
  border: 2px solid #ff7b00;
  color: white;
}

.present {
  border:2px solid #555555;
  color: white;
}

.future {
  border:2px solid #00f700;
  color: white;
}

#saveBtn {
  border: 1px solid rgb(95, 95, 95);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
  height: 70px;
  width: 75px;
  
 
}

#saveBtn:hover {
  background-color: #3ec0ddee;
  font-size: 20px;
  transition: all 0.3s ease-in-out;
  border: 2px solid yellow;
}


#jumbotron2 {
  background-color: #06aed5;
  border-radius: 0;
  border-top: 10px solid yellow;
  margin-top: 12px;
}
